

{% extends "components/base.html" %} 
{% block css %} 
<link rel="stylesheet" href="/static/css/pages/base_styles.css" type="text/css">
<link rel="stylesheet" href="/static/css/pages/index.css" type="text/css">
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <section class="hero">
            <h1>Plan All Of Your Events With Eventbyte!</h1>
            <h3>Need to plan an event? Use Eventbyte Today!</h3>
        </section>

        <section class="features">
            <h2>What We Provide</h2>
            <div class="provide">
                <!-- todo -> get good definitions for each from the course spec
                    provide images of each
                    put in row flex on what we provide
                    nice card
                
                -->
                <ul>
                    <li>
                        <h3>Super Users</h3>
                        <p>Event admins, capable of viewing all evente allocations and</p>
                    </li>
                    <li>
                        <h3>Track Progress</h3>
                        <p>Event details are updated live!</p>
                    </li>
                    <li>
                        <h3>User Registration</h3>
                        <p>Seamless user registration process saddwasdto create and manage your account.</p>
                    </li>
                    <li>
                        <h3>Secure Access</h3>
                        <p>Ensure data security dwasdwaasdawsdawand privacy by requiring users to log in before accessing the application.</p>
                    </li>
                </ul>
            </div>

            <div class="other-features">
                <h2>Quality Of Life</h2>
                <ul>
                    <li>
                        <h3>Cohesive Logging</h3>
                        <p>Superusers can view all activities across the application, including when users login, logout, review tickets, ect</p>
                    </li>
                    <li>
                        <h3>Share Lists</h3>
                        <p>Collaborate with others by sharing your lists and working together on tasks.</p>
                    </li>
                    <li>
                        <h3>Email Notifications</h3>
                        <p>Receive email notifications for cancelled events and allocated tickets to stay up to date.</p>
                    </li>
                    <li>
                        <h3>Tickets</h3>
                        <p>View unique barcodes associated with your tickets!.</p>
                    </li>
                </ul>
            </div>
        </section>
</body>

    


{% endblock %}