{% extends 'components/base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/components/card.css" type="text/css">
<link rel="stylesheet" href="/static/css/pages/my_tickets.css" type="text/css">
{% endblock %}

{% block js %}
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/cancel-ticket.js"></script>
{% endblock %}

{% block navbar %}
    {% include 'components/dashnav.html' %}
{% endblock %}

{% block content %}
<main>
    <h1 id="all_tickets"> My Tickets </h1>
    <section class="tickets">
        {% for ticket in tickets %}  
            <div id="{{ ticket.id }}" class="card-container">
                <div class="card-content">
                    <div class="card-header">
                        <h2 class="card-name">{{ ticket.event.name }}</h2>
                        <div class="buttons">
                            <button class="delete" type="submit">Cancel</button> 
                        </div>
                    </div>

                    <div class="card-description">
                        <p>{{ ticket.event.description }}</p>
                    </div>
                    <div class="card-footer">
                        <img class="barcode" src="data:image/svg+xml;charset=utf8,{{ ticket.barcode.svg_data }}" alt="Barcode">
                        <p>Booked at : {{ ticket.format_booked_at() }}</p>       
                    </div>
                </div>
            </div>  
        {% endfor %}    
    </section>
</main>
{% endblock %}
