.form-container{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-self: center;
    font-family: WF Visual Sans, sans-serif;
    font-weight: bold;
    max-width: 600px;
    margin: auto;

}

fieldset{
    border: None;
    text-decoration-color: green;
    max-width: 9;
}
form {
    max-width: 700px;
    position: relative;
    background: #ffffff;
    padding: 50px 120px 70px;
    text-align: center;
    border-radius: 25px;

}

form h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: black;
    position: relative;
}

form label {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input, select, option, textarea {
    width: calc(100% - 30px);
    background: transparent;
    border: None;
    outline: 0;
    padding: 25px 15px;
    font-family: sans-serif;
    font-weight: bold;;

}

textarea{
    resize: none;
}

button {
    background-color: black;
    color: white;
    padding: 14px 20px; 
    border-radius: 6px;
    border: None;
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-weight: bold;
}


button:hover {
    background-color: grey; 
    font-weight: bold;
}



