body{
    background-color: #93B1A6 ;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1, h2{
    color: #164c31;
}
h3,h4{
    color: #000000
}

/* toast tyles */

.toast{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}

.error{
    background-color: red;
}
.success{
    background-color: rgb(7, 119, 37);
}

.message{
    background-color: white;
}
