{% extends 'components/base.html' %} 
{% block css %}
<link rel="stylesheet" href="/static/css/tags/forms.css" type="text/css">
<link rel="stylesheet" href="/static/css/pages/auth/forgot_email.css" type="text/css">
{% endblock %}
{% block js %}
<script src="/static/js/forgot-password.js"></script>
{% endblock js %}
{% block content %}


<body>
    <div class="page-container">
        <form id="forgot-form" class="form-container" action="/auth/forgot_password" method="post">
            <h1>Reset Password</h1>
            <h2>We will send you an email</h2>
            <fieldset>
                <label>
                    <input 
                        name="email"
                        type="email"
                        placeholder="Enter Your Email"
                    >
                </label>
            </fieldset>
            <button type ="submit">Submit</button>
        </form>
    </div>

</body>
{% endblock %}
