{% extends 'components/base.html' %} 
{% block css %}
<link rel="stylesheet" href="/static/css/tags/forms.css" type="text/css">
<link rel="stylesheet" href="/static/css/pages/auth/login.css" type="text/css">
{% endblock %}
{% block js %}
<script src="/static/js/login.js"></script>
{% endblock js %}
{% block content %}
<body>
    <div class="page-container">
        <form id="login-form" class="form-container">
            <h1>Login</h1>
            <fieldset>
                <label>
                    <input 
                        name="email"
                        type="email"
                        placeholder="Enter Your Email"
                    >
                </label>

                <label>
                    <input
                        name="password"
                        type="password"
                        placeholder="Enter Your Password"
                    >
                </label>
            </fieldset>
            <button type ="submit">Login</button>
            <p><a id="forgotten-pw" href="/auth/forgot_password">Forgot Password?</a></p>
        </form>
    </div>

</body>
{% endblock %}
