{% extends 'components/base.html' %} 
{% block css %}
<link rel="stylesheet" href="/static/css/tags/forms.css" type="text/css">
<link rel="stylesheet" href="/static/css/pages/auth/reset_password.css" type="text/css">
{% endblock %}
{% block js %}
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/reset-password.js"></script>
{% endblock %}
{% block content %}
<body>  
    <div class="page-container">
        <form id="password-reset-form" class="form-container">
            <h1>Reset Password</h1>
            <fieldset>
                <div class="input-group">
                    <label>
                        <input 
                            name="password"
                            type="password"
                            placeholder="Enter Your New Password"
                        />
                    </label>

                    <label>
                        <input 
                            name="confirm-password"
                            type="password"
                            placeholder="Confirm Your New Password"
                        />
                    </label>
                </div>
                <button class="submit" type="submit"> Submit </button>
            </fieldset>
        </form>
    </div>
</body>
{% endblock %}
