.card-container {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    width: 1000px;
    height: auto;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.card-header .buttons{
    margin: auto 0px;
    margin-left: auto;

}

.edit:hover{
    background-color: green;
}
/*
.logs:hover{
    background-color: orange;
*/
.delete:hover{
    background-color: red;
}

.card-content {
    padding: 20px;
}

.card-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-details{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.card-details p {
    margin: 5px 0;
}

.card-description {
    margin-top: 15px;
    color: #666; 
}

.card-footer{
    display: flex;
    flex-direction: column;

}

.barcode{
    max-height: 200px;
    max-width: 200px;
}

.cancelled{
    background-color: red;
    color: white    ;
}

.cancelled .card-description,
.cancelled .card-name{
    color: white;
}


