
#all-events{
    justify-self: center;
    align-self: center;
}
.event-container {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    width: 1000px;
    height: auto;
}

.event-header {
    display: flex;
    flex-direction: row;
}

.event-header .buttons{
    margin: auto 0px;
    margin-left: auto;

}

.edit:hover{
    background-color: green;
}
.logs:hover{
    background-color: orange;
}
.cancel:hover{
    background-color: red;
}

.event-content {
    padding: 20px;
}

.event-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.event-details{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.event-details p {
    margin: 5px 0;
}

.event-description {
    margin-top: 15px;
    color: #666; 
}
