.sidebar-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 230px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    
}

.sidebar-container sidebar{
    height: 100vh;
    padding: 0px 36px 0px 20px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
    z-index: 10000;
    transition: all 1s ease;
    background-color: #18181d;
    border-right: grey 1px solid;
}

.sidebar-container sidebar .title h5{
    color: rgb(91, 72, 72);
    font-size: 1rem;
    margin: 0;

}

.sidebar-container sidebar .title ul {
    list-style: none;
}

.sidebar-container sidebar .title ul li{
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 18px;
}


.sidebar-container sidebar .title ul li a,
.sidebar-container sidebar .title h4 a {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    
}

.sidebar-container sidebar .title ul li a {
    position: relative; 
    display: block;
    color: white;
    padding: 14px 12px;
    text-decoration: none;  

}

.sidebar-container sidebar ul li a:hover{
    color: #5a5a62;
    cursor: pointer;
    transition: all 0.3s ease;

}

.sidebar-container sidebar ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}

.sidebar-container sidebar ul li a:hover::before {
    width: 100%; 
}



.sidebar-container sidebar ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}

