<sidebar>
    <div class="title">
        <h5>EVENTS</h5>
        <ul>
            <li>
                <a href="tickets/my-tickets">My Tickets</a>
            </li>

            <li>
                <a href="events/all">Upcoming Events</a>   
            </li>
        </ul>
    </div>
    
    <div class="title">         
        <h5>NOTLIFICATIONS</h5>
        <ul>
            <li>
                <a href="/dashboard/notifications">Notifications</a> 
            </li>
        </ul>
    </div>

    <div class="title">
        <h5>YOUR ACCOUNT</h5>
        <ul>
            <li>
                <a href="#">Settings</a>

            </li>
            <li>
                <a href="#">Profile</a>
            </li>
        </ul>
    </div>
</sidebar>