

<sidebar>
    <div class="title">
        <h4><a href="/dashboard">Dashboard</a></h4>
    </div>

    <div class="title">
        <h5>EVENTS</h5>
        <ul>
            <li>
                <a href="/dashboard/my-lists">My Lists</a>
            </li>

            <li>
                <a href="/dashboard/shared-lists">Shared Lists</a>   
            </li>
        </ul>
    </div>
    
    <div class="title">         
        <h5>NOTLIFICATIONS</h5>
        <ul>
            <li>
                <a href="/dashboard/notlifications">Notlifications</a> 
            </li>
        </ul>
    </div>

    <div class="title">
        <h5>YOUR ACCOUNT</h5>
        <ul>
            <li>
                <a href="/dashboard/settings">Settings</a>

            </li>
            <li>
                <a href="/dashboard/profile">Profile</a>
            </li>
        </ul>
    </div>

</sidebar>